.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(68, 0, 100, 0.4);
  background: #0c0910;
}

.logo_name {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo {
    height: 96px;
}

.brand_name {
  color: #a393bf;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 32px;
}

.links {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.link {
  color: #9882ac;
  font-family: "Iceberg", Helvetica, sans-serif;
  font-size: 32px;
  text-decoration: none;
  margin: 0 16px;
  list-style-type: none;
  a {
    color: inherit;
    text-decoration: none;
    animation-duration: 500ms;
    display: inline-block;
  }
  a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #ffffff;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
  }
  
  a:hover::after {
    transform: scale(1);
  }
}
