.container {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #0c0910;
  font-family: "Open Sans";
}

.heading {
  color: #a393bf;
  font-family: "Iceberg";
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

.subheading {
  color: #9882ac;
  text-align: center;
  font-family: Iceberg;
  font-size: 24px;
}

hr {
  width: 30%;
  border: 1px solid #453750;
}

.posters {
  display: flex;
  /* padding: 40px; */
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.poster {
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 400px;
  text-align: center;
  img.tall {
    width: 260px;
    height: 368px;
  }
  img.wide {
    width: 368px;
    height: 260px;
  }
}


h4 {
    color: white;
}

p {
  color: white;
  opacity: 85%;
}

.hud_container {
  display: flex;
  flex-direction: column;
  /* padding: 40px; */
  justify-content: center;
  align-items: center;
  align-content: center;
  /* gap: 70px; */
  flex-wrap: wrap;
}

.hud {
  display: flex;
  /* padding: 18px 20px; */
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 32px;
  p {
    max-width: 300px;
  }
  img {
    width: 370px;
    height: 262px;
  }
}

.hud:nth-child(odd) {
  flex-direction: row-reverse;
}

@media (max-width: 1000px) {
  .hud, .hud:nth-child(odd) {
    flex-direction: column;
    text-align: center;
  }
  img {
    width: 75%;
    height: 75%;
  }
}

.hud_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
